<!DOCTYPE html>
<html lang="en">

<head>
	<title>NetPizza - Főoldal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

	<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.css">

	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<link rel="stylesheet" href="/css/aos.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">

	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/css/jquery.timepicker.css">

	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/style.css">

</head>

<%- include('../partials/navbar') %>

	<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">
		<div class="slider-item">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text align-items-center" data-scrollax-parent="true">

					<div class="col-md-6 col-sm-12 ftco-animate">
						<span class="subheading">Finom ízek</span>
						<h1 class="mb-4">Olasz Konyha</h1>
						<p class="mb-4 mb-md-5">Nálunk friss alapanyagokból, kemencében sütve készítjük el
							kedvenc pizzáidat – szeretettel, ahogy nálunk szokás.</p>
						<p><a href="/menu" class="btn btn-primary p-3 px-xl-4 py-xl-3">Rendelj Most</a> <a href="/menu"
								class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Menü Megtekintése</a></p>
					</div>
					<div class="col-md-6 ftco-animate">
						<img src="images/bg_1.png" class="img-fluid" alt="">
					</div>

				</div>
			</div>
		</div>

		<div class="slider-item">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text align-items-center" data-scrollax-parent="true">

					<div class="col-md-6 col-sm-12 order-md-last ftco-animate">
						<span class="subheading">Ropogós élmény</span>
						<h1 class="mb-4">Olasz Pizza</h1>
						<p class="mb-4 mb-md-5">A NetPizza-nál minden szelet frissen készül, ropogós tésztával és
							ízletes feltétekkel – igazi olasz hangulatban.</p>
						<p><a href="/menu" class="btn btn-primary p-3 px-xl-4 py-xl-3">Rendelj Most</a> <a href="/menu"
								class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Menü Megtekintése</a></p>
					</div>
					<div class="col-md-6 ftco-animate">
						<img src="images/bg_2.png" class="img-fluid" alt="">
					</div>

				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image: url(images/bg_3.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-7 col-sm-12 text-center ftco-animate">
						<span class="subheading">Üdvözlünk a NetPizza-ban</span>
						<h1 class="mb-4">Elkészítettük álmaid pizzáját, pont úgy, ahogy szereted</h1>
						<p class="mb-4 mb-md-5">Friss, helyi alapanyagokból, igazi olasz recept alapján sütjük
							pizzáinkat Kecskemét szívében – szeretettel minden vendégünknek.</p>
						<p><a href="/menu" class="btn btn-primary p-3 px-xl-4 py-xl-3">Rendelj Most</a> <a href="/menu"
								class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Menü Megtekintése</a></p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-intro">
		<div class="container-wrap">
			<div class="wrap d-md-flex">
				<div class="info">
					<div class="row no-gutters">
						<div class="col-md-4 d-flex ftco-animate">
							<div class="icon"><span class="icon-phone"></span></div>
							<div class="text">
								<h3>+36 30 967 8852</h3>
								<p>Hívj minket bizalommal!</p>
							</div>
						</div>
						<div class="col-md-4 d-flex ftco-animate">
							<div class="icon"><span class="icon-my_location"></span></div>
							<div class="text">
								<h3>Kecskemét, Fő utca 21.</h3>
								<p>NetPizza – a város kedvenc pizzázója</p>
							</div>
						</div>
						<div class="col-md-4 d-flex ftco-animate">
							<div class="icon"><span class="icon-clock-o"></span></div>
							<div class="text">
								<h3>Nyitva tartás: Hétfőtől - péntekig</h3>
								<p>8:00 - 21:00</p>
							</div>
						</div>
					</div>
				</div>
				<div class="social d-md-flex pl-md-5 p-4 align-items-center">
					<ul class="social-icon">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-about d-md-flex">
		<div class="one-half img" style="background-image: url(images/about.jpg);"></div>
		<div class="one-half ftco-animate">
			<div class="heading-section ftco-animate ">
				<h2 class="mb-4">Üdvözlünk a <span class="flaticon-pizza">NetPizza</span> éttermében!</h2>
			</div>
			<div>
				<p>Kecskemét szívében várunk téged friss, ropogós pizzáinkkal és igazi olasz hangulattal.
					Nálunk minden falat gondosan készül – minőségi alapanyagokból, szeretettel és odafigyeléssel.
					Látogass el hozzánk, és tapasztald meg, miért imádják a NetPizza ízeit a helyiek!</p>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-services">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Szolgáltatásaink</h2>
					<p>A NetPizza-nál mindent megteszünk, hogy élmény legyen minden rendelésed!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 ftco-animate">
					<div class="media d-block text-center block-6 services">
						<div class="icon d-flex justify-content-center align-items-center mb-5">
							<span class="flaticon-diet"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Egészséges ételek</h3>
							<p>Friss, válogatott alapanyagokból készítjük pizzáinkat – ízletesen és tudatosan.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="media d-block text-center block-6 services">
						<div class="icon d-flex justify-content-center align-items-center mb-5">
							<span class="flaticon-bicycle"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Villámgyors kiszállítás</h3>
							<p>Kecskemét területén gyorsan és forrón juttatjuk el hozzád a kedvenc pizzád.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="media d-block text-center block-6 services">
						<div class="icon d-flex justify-content-center align-items-center mb-5"><span
								class="flaticon-pizza-1"></span></div>
						<div class="media-body">
							<h3 class="heading">Eredeti receptek</h3>
							<p>Tésztáink és szószaink hagyományos olasz recept alapján készülnek – a valódi ízélményért.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">Étlap és árak</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
				<p class="mt-5">Válogass a NetPizza kedvenceiből – friss, kemencében sült pizzák Kecskemét szívéből.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-1.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Olasz Pizza</span></h3>
							<span class="price">2990 Ft</span>
						</div>
						<div class="d-block">
							<p>Klasszikus paradicsomszósz és mozzarella – egyszerűen tökéletes.</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-2.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Hawaiia Pizza</span></h3>
							<span class="price">3990 Ft</span>
						</div>
						<div class="d-block">
							<p>Sonka és ananász, édes-sós harmóniában.</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-3.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Görög Pizza</span></h3>
							<span class="price">2990 Ft</span>
						</div>
						<div class="d-block">
							<p>Feta sajt, olívabogyó és friss zöldségek – a mediterrán ízek kedvelőinek.</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-4.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Baconos ropogós</span></h3>
							<span class="price">2990 Ft</span>
						</div>
						<div class="d-block">
							<p>Extra ropogós vékony tészta, bőséges baconnel.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-5.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Hawaii különlegesség</span></h3>
							<span class="price">3990 Ft</span>
						</div>
						<div class="d-block">
							<p>Dupla sajt, extra sonka és ananász – igazi ízbomba azoknak, akik nem elégszenek meg a
								kevesebbel.</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-6.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Minden földi jó</span></h3>
							<span class="price">4990 Ft</span>
						</div>
						<div class="d-block">
							<p>Telepakolva húsokkal és zöldségekkel – kiadós választás, ami minden étvágyat kielégít.
							</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-7.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Baconos Pizza</span></h3>
							<span class="price">2990 Ft</span>
						</div>
						<div class="d-block">
							<p>Extra ropogós vékony tészta, bőséges baconnel.</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-8.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Sonka &amp; Ananász</span></h3>
							<span class="price">3990 Ft</span>
						</div>
						<div class="d-block">
							<p>Klasszikus kedvenc, frissen sütve – omlós sonkával, édes ananásszal és olvadó
								mozzarellával a tökéletes ízharmóniáért.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<section class="ftco-gallery">
		<div class="container-wrap">
			<div class="row no-gutters">
				<div class="col-md-3 ftco-animate">
					<a href="#" class="gallery img d-flex align-items-center"
						style="background-image: url(images/gallery-1.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-search"></span>
						</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="#" class="gallery img d-flex align-items-center"
						style="background-image: url(images/gallery-2.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-search"></span>
						</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="#" class="gallery img d-flex align-items-center"
						style="background-image: url(images/gallery-3.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-search"></span>
						</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="#" class="gallery img d-flex align-items-center"
						style="background-image: url(images/gallery-4.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-search"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(images/bg_2.jpg);"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<div class="icon"><span class="flaticon-pizza-1"></span></div>
									<strong class="number" data-number="100">0</strong>
									<span>Kiszállított pizzák</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<div class="icon"><span class="flaticon-medal"></span></div>
									<strong class="number" data-number="85">0</strong>
									<span>Elismeréseink</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<div class="icon"><span class="flaticon-laugh"></span></div>
									<strong class="number" data-number="10567">0</strong>
									<span>Elégedett vásárlóink</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<div class="icon"><span class="flaticon-chef"></span></div>
									<strong class="number" data-number="900">0</strong>
									<span>Csapaunk tagjai</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-appointment">
		<div class="overlay"></div>
		<div class="container-wrap">
			<div class="row no-gutters d-md-flex align-items-center">
				<div class="col-md-6 d-flex align-self-stretch">
					<div id="map" style="width: 100%; height: 100%;">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2683.497251476971!2d19.68922007671247!3d46.9065842711219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4743ddba0f3c1c5b%3A0x9d9a9f1a47fddf7!2sKecskem%C3%A9t%2C%20F%C5%91%20utca%2021%2C%206000!5e0!3m2!1shu!2shu!4v1731268800000!5m2!1shu!2shu"
							width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
				<div class="col-md-6 appointment ftco-animate">
					<h3 class="mb-3">Lépj kapcsolatba velünk</h3>
					<form action="#" class="appointment-form">
						<div class="d-md-flex">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Keresztnév">
							</div>
						</div>
						<div class="d-me-flex">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Vezetéknév">
							</div>
						</div>
						<div class="form-group">
							<textarea name="" id="" cols="30" rows="3" class="form-control"
								placeholder="Üzenet"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Küldés" class="btn btn-primary py-3 px-4">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-section img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-3 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Rólunk</h2>
						<p>A NetPizza Kecskemét szívében várja vendégeit friss, olaszos pizzákkal és barátságos
							kiszolgálással. Célunk, hogy minden falat igazi élmény legyen – nálunk a minőség és az íz
							kéz a kézben jár.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Legutóbbi bejegyzések</h2>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Új pizzakülönlegességek a NetPizza-ban!</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Házhozszállítás Kecskeméten!</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Szolgáltatások</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Frissen sütött pizzák</a></li>
							<li><a href="#" class="py-2 d-block">Gyors kiszállítás</a></li>
							<li><a href="#" class="py-2 d-block">Kiváló minőségű alapanyagokból</a></li>
							<li><a href="#" class="py-2 d-block">Vegetáriánus és különleges ajánlatok</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Van kérdésed?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Magyarország,
										Kecskemét, Fő utca 21.</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+36 30 967
											8852</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">info@netpizza.hu</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Minden jog fenntartva | This template
						is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/jquery.timepicker.min.js"></script>
	<script src="/js/scrollax.min.js"></script>
	<script src="/js/main.js"></script>


	</body>

</html>